@import './_variables.css';
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline {
  --font-family: var(--font-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--color-orange-500);
  --color-font-base: var(--color-gray-900);
  --color-font-secondary: var(--color-gray-700);
  --radius-button: var(--dimension-button-rounded);
  --radius-common: var(--dimension-rounded);

  /* break point */
  --breakpoint-sm: 23.4375rem; /* 375 */
  --breakpoint-md: 46.5rem; /* 744 */
  --breakpoint-lg: 75rem; /* 1200 */
}

@theme {
  --breakpoint-mobile: 23.4375rem; /* 375 */
  --breakpoint-tablet: 46.5rem; /* 744 */
  --breakpoint-web: 75rem; /* 1200 */
  --breakpoint-desktop: 120rem; /* 1920 */

  --spacing-web: 75rem;
  --spacing-mobile-padding: 1rem; /* 16 */
  --spacing-tablet-padding: 1.5rem; /* 24 */

  /* font-family: Pretendard */
  --font-sans:
    Pretendard, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  /* z-index token */
  --z-base: 0;
  --z-dropdown: 100;
  --z-sticky: 200;
  --z-backdrop: 300;
  --z-modal: 400;
  --z-toast: 500;
  --z-tooltip: 600;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@utility modal-padding {
  padding: var(--dimension-modal-padding);
}
