@import './_variables.css';
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--semantic-color-primary);
  --color-title: var(--semantic-color-text-main);
  --color-sub-title: var(--semantic-color-text-sub);
  --radius-button: var(--dimension-button-rounded);
  --radius-common: var(--dimension-rounded);
}

@utility modal-padding {
  padding: var(--dimension-modal-padding);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
